bo

#nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#nav-menu li {
    margin-bottom: 20px;
    text-decoration: none;
    margin-right: 1000%;
    
}
a{
    text-decoration: none;
    color: black;
}



#open-btn, #close-btn {
    border: none;
    cursor: pointer;
    font-size: 1em;
   
}