body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    overflow: hidden;
    transform: scale(1.5);
}


button{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    border-radius: 20px;
}
button::before{
    content: "";
    background: linear-gradient(45deg,
    #181333, #005e84, #0087a2, #68dabf, 
    #dc755d, #f9f871, #fab259, #330900);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 900%;
    z-index: -1;
    width: calc(100 + 4px);
    height: calc(100 + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity(.3s ease-in-out);
    border-radius: 10px;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400 0;}
    100% {background-position: 0 0;}
}
button:hover::before{
    opacity: 1;
}
button:active::after{
    background: transparent;
}
button:active{
    color: black;
    font-weight: bold;
}